
$font-family-sans-serif: 'Geometria';

$border-radius:  0.5rem;
$border-radius-lg:  0.5rem;
$border-radius-sm:  0.5rem;

$bg1: rgb(24,34,44);
$bg2: rgb(33,48,63);
$bg3: rgb(62,107,147);
$light: rgb(174,192,208);

$front-color-1: rgb(7,23,52);
$front-color-2: #00C9DF;//rgb(0,238,242);
$primary: $front-color-2;
$jumbotron-color:                   #fff;
$jumbotron-bg:                      transparent;

$grid-gutter-width:           50px !default;